
.vs/Venturi77CallHijacker/v16/Server/sqlite3/db.lock
.vs/Venturi77CallHijacker/v16/Server/sqlite3/storage.ide
.vs/Venturi77CallHijacker/v16/.suo
.vs/Venturi77CallHijacker/v16/Server/sqlite3/storage.ide-shm
.vs/Venturi77CallHijacker/v16/Server/sqlite3/storage.ide-wal
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.pdb
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.exe
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.csprojAssemblyReference.cache
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.csproj.FileListAbsolute.txt
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.csproj.CoreCompileInputs.cache
Venturi77Hijacker/obj/Debug/Venturi77Hijacker.csproj.CopyComplete
Venturi77Hijacker/bin/Debug/Venturi77Hijacker.pdb
Venturi77Hijacker/bin/Debug/Venturi77Hijacker.exe.config
Venturi77Hijacker/bin/Debug/Venturi77Hijacker.exe
Venturi77Hijacker/bin/Debug/Venturi77CallHijacker.pdb
Venturi77Hijacker/bin/Debug/Venturi77CallHijacker.dll.config
Venturi77Hijacker/bin/Debug/Venturi77CallHijacker.dll
Venturi77Hijacker/bin/Debug/Newtonsoft.Json.dll
Venturi77Hijacker/bin/Debug/dnlib.xml
Venturi77Hijacker/bin/Debug/dnlib.dll
Venturi77Hijacker/bin/Debug/Debug.rar
Venturi77Hijacker/bin/Debug/Config.Json
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.pdb
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.dll
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.csprojAssemblyReference.cache
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.csproj.FileListAbsolute.txt
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.csproj.CoreCompileInputs.cache
Venturi77CallHijacker/obj/Debug/Venturi77CallHijacker.csproj.CopyComplete
Venturi77CallHijacker/bin/Debug/Venturi77CallHijacker.pdb
Venturi77CallHijacker/bin/Debug/Venturi77CallHijacker.dll.config
Venturi77CallHijacker/bin/Debug/Venturi77CallHijacker.dll
Venturi77CallHijacker/bin/Debug/Newtonsoft.Json.dll
